* {
    margin: 0;
}

html {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.label-maker-container {
    background-color: lightyellow;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

label {
    margin-right: 2rem;
}

#coffeeSelect {
    size: 2;
}

.dropdown-container {
    display: flex;
    justify-content: center;
}

.options-container {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 800px;
    max-height: 800px;
    width: 800px;
    max-width: 800px;
}
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-preview-container {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    max-height: 800px;
    width: 800px;
    max-width: 800px;
}

.label-background {
    background-color: #fff;
    border: 1px solid #8a8a8a;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 750px;
    max-height: 750px;
    width: 500px;
    max-width: 500px;
}

.logo {
    max-height: 300px;
    max-width: 300px;
}

.logo-container {
    padding: 1.5rem 0;
}

.coffee-name {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    font-size: 3.5rem;
    text-align: center;
}

.sell-by-date {
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
}

.sell-by-text {
    background-color: aquamarine;
    flex-grow: 1;
    font-size: 3.5rem;
}

.sell-by {
    background-color: rgb(255, 149, 10);
    flex-grow: 12;
    font-size: 3.5rem;
}

.phone-web {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.coffee-weight {
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    border-radius: 0 0 15px 15px;
    font-size: 1.7rem;
}

.footer {
    background-color: #831116;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
}